<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.mapper.LoginHistoryMapper">
    <!-- 로그인 기록 -->
    <insert id="insert">
        INSERT INTO login_history (
            user_no, ip_address, user_agent, success 
        )
        VALUES (
            #{userNo}, #{ip}, #{agent}, #{success}
        )
    </insert>
</mapper>